/* add code here to make your image 300px square */
    #pet {
        height: 300px;
        width: 300px;
    }
  /* add code here to change the color and font family of your name/title */
    #petName {
        color: orange;
        font-family: Arial;
    }
  /* Bonus: change the color of your list elements */
    ol {
        color: blue;
    }